  html,
  body,
  #map,
  #app,
  main {
    height: 100%;
    width: 100%;
  }

path.status-none {
  fill: lightgray;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke: gray;
  stroke-opacity: 0.5;
}

path.status-done {
  fill: green;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke: green;
  stroke-opacity: 0.5;
}

path.status-inprogress {
  fill: blue;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke: blue;
  stroke-opacity: 0.5;
}

path.status-error {
  fill: red;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke: red;
  stroke-opacity: 0.5;
}

path.status-rebuild {
  fill: lightblue;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke: blue;
  stroke-opacity: 0.5;
}

.tile-label {
  background: transparent;
  box-shadow: none;
  border: 0;
  color: black;
}